<div class="navbar navbar-expand-sm navbar-light navbar-lewagon ">
    <div class="home button btn btn-outline-warning">
      <%= link_to 'Home', friend_groups_path %>
    </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item user">
        <% if current_user %>
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
        <% else %>
      <li class="nav-item btn btn-outline-warning">
        <%= link_to 'Sign up', new_user_registration_path %>
      </li>
      <li class="nav-item btn btn-outline-warning">
        <%= link_to 'Sign in', new_user_session_path %>
      </li>
    </ul>
      <% end %>
  </div>
</div>

<div class="banner" style=" url(https://images.unsplash.com/photo-1542304074-9c8ce93b52fd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
  <div class="container">
    <h1>Welcome to Friendly!</h1>
    <p>Find your best new friends all around the world</p>
  </div>
</div>