.card-product {
  overflow: hidden;
  height: 420px;
  background: white;
  display: flex;
  align-items: center;
  margin-top: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: #b8de6f;
}

.card-product img {
  height: 100%;
  width: 350px;
  object-fit: cover;
}

.card-product h3 {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
